* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #0d0d0e;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  color: #0d0d0e;
}

header h2 {
  font-size: 20px;
  color: #0d0d0e;
  margin-top: 10px;
}

section {
  margin-bottom: 20px;
}

ol,
ul {
  margin-left: 20px;
}

ol li,
ul li {
  margin-bottom: 12px;
  text-align: justify;
}

h3,
h4 {
  color: #0d0d0e;
  margin-bottom: 10px;
}

blockquote {
  margin-bottom: 60px;
  margin-left: 100px;
  font-style: italic;
  font-weight: bold;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.member {
  flex: 1 1 calc(50% - 20px);
  margin: 0 10px;
  text-align: center;
}

.member h2 {
  margin: 0;
}

.member p {
  margin: 5px 0;
  font-size: 18px;
}

/* Estilo do QR Code */
.qr-code-center {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha à direita */
  margin-top: 40px auto 0;
  margin: auto; /* Empurra para a direita */
  width: 150px;
  text-align: center;
}

.qr-code-center img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eee;
}

.qr-code-center p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .qr-container {
    width: 120px;
    left: 10px;
    bottom: 10px;
  }
  .qr-text {
    font-size: 12px;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  header h2 {
    font-size: 16px;
  }

  .member {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  header h1 {
    font-size: 18px;
  }

  header h2 {
    font-size: 14px;
  }

  .member {
    flex: 1 1 100%;
  }

  .team-container {
    flex-direction: column;
  }
}
