* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #0d0d0e;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 28px;
  color: #0d0d0e;
}

header h2 {
  font-size: 20px;
  color: #0d0d0e;
  margin-top: 10px;
}

section {
  margin-bottom: 20px;
}

ol {
  margin-left: 20px; /* Ajusta o espaçamento da lista numerada */
}

ol li {
  margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
}

ul {
  list-style-type: disc; /* Define o estilo de lista com bolinhas */
  margin-left: 20px; /* Adiciona espaçamento à esquerda */
}

ul li {
  margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
}

h3,
h4 {
  color: #0d0d0e;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}
.team-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.member {
  margin: 0 15px;
  text-align: center;
}
.member h2 {
  margin: 0;
}
.member p {
  margin: 5px 0;
  font-size: 15px;
}

blockquote {
  margin-left: 90px; /* Define o recuo para a esquerda */
  font-style: italic; /* Já garante o estilo em itálico */
  font-weight: bold; /* Já garante o estilo em negrito */
}

.leaders {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
